extend ../layout

block content
	.container
		.row
			.col-md-5
				a(style="display:block; height:50px; line-height:50px; width:100px; text-decoration:none; background-color: #CCC;" href="/admin/paper") 期刊登入
				a(style="display:block; height:50px; line-height:50px; width:100px; text-decoration:none; background-color: #CCC;" href="/admin/paper/list") 期刊列表

				a(style="display:block; height:50px; line-height:50px; width:100px; text-decoration:none; background-color: #CCC;" href="/admin/patent") 专利更新
				a(style="display:block; height:50px; line-height:50px; width:100px; text-decoration:none; background-color: #CCC;" href="/admin/patent/list") 专利列表