extend ../layout

block content 
	h1(style="margin-left:100px;") 专利更新
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 作者
						th 题名
						th 专利号
						th 更新
						th 删除
					tbody
						each item in patents
							tr(class="item-id-"+item._id)
								td #{item.author}
								td #{item.topic}
								td #{item.note}
								td: a(target="_blank",href="/admin/patent/update/"+item._id) 修改
								td
									button.btn.btn-danger.del(type="button",data-from="patent",data-id=item._id) 删除
		script(src="/javascript/delete.js")

