doctype html
<!--[if IE 8]><html class='ie8'><![endif]>-->
<!--[if IE 9]><html class='ie9'><![endif]>-->
<!--[if !IE]><!--><html><!--<![endif]>-->
head
	title Huansheng Ning's Homepage;
	meta( http-equiv="Content-Type" content="text/html; charset=utf-8")
	include ./includes/head
body
	include ./includes/header
	block content
</html>